body{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 67%, rgba(255,0,0,1) 100%);
  width: 100vw;
  height: 100vh;
  font-family: monospace;

}
 h3 {
   font-family: "Barrio";
  letter-spacing: 2px;
}
* {
  font-family: monospace;
}
#paint-app {
  width: 100vw;
  height: 100vh;
}
#draw-area {
position: absolute;
top: 20%;
right: 3%;
width: 70vw;
height: 70vh;
background: white;
border-radius: 61% 16% 47% 64% / 29% 54% 33% 49% ;
overflow: auto;
overflow-y: hidden;
overflow-x: hidden;
}

@keyframes bob {
0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}
@keyframes sleepy{
   0% {
    background-color: #37365F;
  }

  50% {
    background-color: #8887CB;
  }

  100% {
    background-color: #37365F;
  }
}
#tool-bar{
  position: absolute;
  width: 25vw;
  height: 50vh;
  background: #E82C12;
  top: 40%;
  right: 90%;
  border-radius: 92% 58% 51% 81% / 49% 100% 57% 100% ;
  animation: bob;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 4px;
  width: 6vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#tool-bar img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  image-rendering: pixelated;
  display: inline-block;
  border: 2px solid #171717;
  border-top-color: #f3f3f3;
  border-left-color: #f3f3f3;
  cursor: pointer;

  right: 20%;
}

#tool-bar img.selected {
  border-top-color: #171717;
  border-left-color: #171717;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
}
#tool-options {
  height: 16vh;
  position: absolute;
  width: 12vw;
  height: 50vh;
  background:  #E82C12;
  top: 17%;
  left: 10%;
  overflow: auto;
  padding-top: 50px;
  padding-left: 30px;
  align-items: center;
  border-radius: 59% 28% 51% 42% / 38% 25% 73% 60%;
  animation: bob;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#tool-info {
  width: 42px;
  height: 42px;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 100%;
}
header {
  position: absolute;
  width: 98vw;
  height: 5vh;
  background: #871B1B;
  top: 5%;
  border-radius: 20px 20px 20px 20px;
}
header img {
  width: 0px;
  height: 0px;
  image-rendering: pixelated;
}
header > * {
  margin: 4px 10px;
}
header h3 {
  color: #FFFF;
  font-weight: bold;
}

nav {
  position: absolute;
  float: left;
  display: inline;
  top: 90px;
  z-index: 2;
}
nav > .menu-item {

  margin-right: 20px;
  width: 3vw;
  height: 3vh;
  border-radius:40% 14% 28% 35% / 27% 26% 34% 42%;
  background-color: #ffff;
  float: left;
  display: inline;
  padding-top: 25px;
  padding-left: 25px;
  animation: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

nav > .menu-item:hover{
  background-color: #ffffff;
}

nav > .sub-menu {
  border-radius:40% 14% 28% 35% / 27% 26% 34% 42%;
  background-color: #ffff;
  padding: 10px;

}
nav > .sub-menu > * {
font-size: 2vh;
}

nav > .sub-menu > *:hover {
    text-decoration: underline black 2px;
    cursor: pointer;
}
#layer-select {
  display: none;
  width: 0vw;
}

#layer-select > * {
  display: none;
}

#layer-select > *.selected {
  background-color: rgba(0, 0, 0, 0.25);
}

#layer-select input[type="text"] {
  width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tool-info {
  display: none;
}
