*{
  box-sizing: border-box;
}

body {
  background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
  width: 100vw;
  height: 100vh;
  font-family: "Akronim";
  font-size: 2em;
  overflow: hidden;
}

#paint-app {
  width: 100vw;
  height: 100vh;
}

@keyframes popup {
  0%{transform: translateY(0px);}
  50%{transform: translateY(-50px);}
  100%{transform: translateY(0px);}
  }

header {
  position: absolute;
  width: 98vw;
  height: 5vh;
	background: #93b179;
  top: 5%;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
  display: flex;
  
}

header > * {
  margin: 4px 10px;
}

header img {
  width: 0px;
  height: 0px;
  image-rendering: pixelated;
}

nav {
  position: absolute;
  display: flex;
  padding: 10px;
  top: 7%;
  left: 60.5%;
}

nav > .menu-item {
  margin-right: 20px;
  /* position: absolute; */
  width: 8vw;
  height: 10vh;
	background: rgba(148, 177, 192, 0.7);
  padding-top: 25px;
  padding-left: 50px;
  border-radius: 61% 67% 47% 64% / 69% 96% 33% 55% ;

  animation: popup;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

nav > .sub-menu {
  background-color: #76a176;
  padding: 10px;
  border: 2px solid #171717;
  border-top-color: #fff;
  border-left: none;
  width: 10vw;
  height: 8vh;
  border-radius: 50%;
}

nav > .sub-menu > * {
  margin-bottom: 5px;
}

nav > .menu-item:hover,
nav > .sub-menu > *:hover {
  text-decoration: underline white 5px;
  cursor: pointer;
}

main {
  display: flex;
  align-items: flex-start;
}

#tool-bar {
  position: absolute;
  width: 15vw;
  height: 50vh;
  background: rgba(196, 224, 241, 0.9);
  top: 45%;
  right: 84%;
  border-radius: 61% 67% 47% 64% / 69% 96% 33% 55% ;
  display: flex;
  overflow: auto;
  padding: 4px;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 30px;

  
  animation: popup;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#tool-bar img {
  width: 42px;
  height: 42px;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 50%;
  background: #d6f1bb;
  display: table;
  border: 2px solid #171717;
  border-top-color: #f3f3f3;
  border-left-color: #f3f3f3;
  cursor: pointer;
}

#tool-bar img.selected {
  border-top-color: #171717;
  border-left-color: #171717;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
}

/*
  this bit could probably be written a little better,
  trying to fill the remaining space while keeping things responsive.
  44px = approximate height of header
  41px = approximate height of nav bar
  33px = approximate height of #tool-info
  10px = just a little extra for comfort
  44 + 41 + 33 + 10 = 128
  17vh = #tool-options height
  100vh - 17vh = 83vh
*/
#draw-area {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 70vw;
  height: 70vh;
  background: white;
  border-radius: 61% 16% 47% 64% / 29% 54% 33% 49% ;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

#layer-select {
  width: 0vw;
  display: none;
}

#layer-select > * {
  display: flex;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}

#layer-select > *.selected {
  background-color: rgba(0, 0, 0, 0.25);
}

#layer-select input[type="text"] {
  width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tool-options {
  position: absolute;
  width: 9vw;
  height: 50vh;
	background: #d6f1bb;
  top: 17%;
  left: 14.5%;
  border-radius: 61% 67% 47% 64% / 69% 96% 33% 55% ;
  overflow: auto;
  padding-top: 50px;
  padding-left: 30px;
  align-items: center;


  animation: popup;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#tool-info {
  width: 42px;
  height: 42px;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 500%;
}

/* how to get the colors to be circular
how to remove the layer check thing
how to fix the tools section */